################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C#_FinalProject2024

CoverageReport/

BookingApp.Service.Test/TestResults/
BookingApp.Service.Test/TestResults/*

FinalProject_SoftUni/BookingApp.Service.Test/bin/
