@{
    ViewData["Title"] = "Вътрешна грешка на сървъра";
}

<h1>500 - Вътрешна грешка на сървъра</h1>
<p>Нещо се обърка. Моля, опитайте отново по-късно.</p>
<a href="/">Обратно към началната страница</a>
