@using BookingApp.Web.ViewModels.Models.Property;
@model IEnumerable<PropertyDetailsViewModel>

<h1>All Properties</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Price Per Night</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var property in Model)
        {
            <tr>
                <td>@property.Name</td>
                <td>@property.Location</td>
                <td>@property.Price</td>
                <td>@(property.IsAvailable ? "Yes" : "No")</td>
            </tr>
        }
    </tbody>
</table>
